
{eunit_opts, [verbose, {report, {eunit_surefire, [{dir, "."}]}}]}.

{cover_enabled, true}.

{erl_opts, [
  debug_info,
  smp
]}.

{shell, [
  {apps, [reloader]},
  {config, "config/sys.config"}
]}.

{dist_node, [
  {name, 'reloader@127.0.0.1'},
  {setcookie, 'abc'}
]}.

{deps, [

]}.

%% xref checks to run
{xref_checks, [
  undefined_function_calls,
  undefined_functions,
  locals_not_used,
  exports_not_used,
  deprecated_function_calls,
  deprecated_functions
]}.

{pre_hooks, [
]}.

{post_hooks, [

]}.

%% for test
{cover_enabled, true}.
{cover_print_enabled, true}.
{ct_opts, [
  {dir, ["test"]},
  {sys_config, ["test/ct_sys.config"]},
  {readable, true},
  {ct_hooks, [{ct_hook, []}]}
]}.
