[
    {reloader,
        [
            {check_interval,2000},
            {src,"E:/summer/reloader/src"},
            {com_opt,
                [
                    report_errors, error_summary,
                    debug_info,
                    {d, 'USE_CACHE'},
                    {i, "include"}
                ]}
        ]
    }
].
